[Desktop Entry]
Name=Janus
Comment=JavaFX wallet for the Unigrid Network
Exec=/opt/janus/bin/Janus
Icon=/opt/janus/lib/Janus.png
Terminal=false
Type=Application
Categories=unigrid
MimeType=
