**/socomo.html
**/nb-configuration.xml

.vscode/
**/.DS_Store  

/src/main/resources/daemon/

/target/
/fx/target/
/fx/runtime/
/desktop/target/

fx/debug.log
fx/unigrid-cli.exe
fx/unigridd.exe
fx/unigridd
fx/unigrid-cli
