.button {
	-fx-background-color: #ccc3;
	-fx-background-radius: 50;
	-fx-text-fill: #cccc;
	-fx-border-color: #e72;
	-fx-border-width: 2;
	-fx-border-radius: 50;
}

.button:hover {
	-fx-background-color: #ccc5;
}

.toggle-button {
	-fx-background-color: #ccc3;
	-fx-background-radius: 0;
	-fx-text-fill: #cccc;
	-fx-border-color: transparent;
}

.toggle-button:hover {
	-fx-background-color: #ccc5;
}

.toggle-button:selected {
	-fx-background-color: #ccc3;
	-fx-text-fill: #cccf;
	-fx-border-color: #ccc8 black #ccc8 #ccc8;
}

.sidebar {
	-fx-border-color: transparent #ccc8 transparent transparent;
}

.settings .sidebar {
	-fx-border-color: transparent #e72 transparent transparent;
	-fx-background-color: black;
}

.settings .sidebar .toggle-button {
	-fx-background-color: #aaf3;
	-fx-background-radius: 50 0 0 50;
	-fx-border-radius: 50 0 0 50;
	-fx-text-fill: #e72;
}

.settings .sidebar .toggle-button:hover {
	-fx-background-color: #aaf5;
}

.settings .sidebar .toggle-button:selected {
	-fx-background-color: #aaf1;
	-fx-border-color: #ff9500 black #ff9500 #ff9500;
	-fx-text-fill: #ff9500;
}

.tab-header-background {
	-fx-background-color: black;
}

.tab-header-area .tab-header-background {
	-fx-border-color: black black #aaff black;
}

.tab {
	-fx-background-color: #55f3;
	-fx-border-color: #55ff #55ff #aaff #55ff;
}

.tab:hover {
	-fx-background-color: #aaf5;
}

.tab-label {
	-fx-text-fill: #55ff;
}

.tab:selected {
	-fx-border-color: #aaff #aaff black #aaff;
}

.tab:selected .tab-label {
	-fx-text-fill: #aaff;
}

.tab-content-area .pane {
	-fx-background-color: white;
	-fx-margin: 5 5 5 5;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-text-fill: #aad;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #aad;
    -fx-text-alignment: right;
    -fx-border-color: transparent #aad transparent transparent;
}

.table-row-cell:odd {
	-fx-background-color: #bbc2;
}

.table-row-cell:even {
	-fx-background-color: #bbc1;
}

.text-area {
	-fx-text-fill: white;
}

.text-area .content {
	-fx-background-color: #336a;
	-fx-text-fill: white;
}

.dialog-pane {
    -fx-background-color: linear-gradient(from 75px 75px to 200px 150px, #00001c, #000024);
}

.dialog-pane .label {
    -fx-text-fill: #e72;
}

.dialog-pane:header .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label {
	-fx-text-fill: #ccccff;
}

.progress-indicator {
	-fx-progress-color: #e72;
}

.progress-indicator .indicator {
	-fx-border-color: #e72;
	-fx-background-color: transparent;
}

.progress-indicator .percentage {
	-fx-fill: #ee7722;
}

.hyperlink:hover {
	-fx-text-fill: #00c;
}

.hyperlink:visited {
	-fx-text-fill: #aad;
}

.hyperlink:visited:hover {
	-fx-text-fill: #33d;
}

:root{
    --s-loader-wrapper-bg-color: rgb(21, 22, 43);
    --s-loader-width: 20px;
    --s-loader-heigth: var(--s-loader-width);
    --s-loader-border-color-trans: rgba(29, 161, 242, 0.2);
    --s-loader-border-color-full: rgb(29, 161, 242);
}

body{
    margin: 0;
    background: var(--s-loader-wrapper-bg-color, rgb(21,22,43));
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-loader{
    width: var(--s-loader-width);
    height: var(--s-loader-heigth);
    
    border: 5px solid var(--s-loader-color-trans);
    border-left-color: var(--s-loader-colot-full);
    border-radius: 50%;
    background: transparent;
    
    animation-name: rotat-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes rotate-s-loader{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
