# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: MacOS_build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: mac-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'temurin'
        cache: maven


    - name: download daemon
      uses: duhow/download-github-release-assets@v1
      with:
        repository: unigrid-project/daemon
        tag: 2.0.1
        files: unigrid-2.0.1-osx64.tar.gz
        target: unigridd.tar.gz
    - name: Extract
      run: | 
        mkdir target/daemon && tar -xvf unigridd.tar.gz -C target/daemon
    - run: cp target/daemon/unigrid-2.0.1-osx64/bin/unigridd deamon    
    - name: Build with Maven
      run: mvn install
      
    - run: mkdir staging && cp target/*.* staging
    - uses: actions/upload-artifact@v3
      with:
       name: Package
       path: staging
