name: Create New Release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true
      target_module:
        description: 'Target module'
        required: true
        default: 'fx'
        type: choice
        options:
        - fx
        - bootstrap
      skip_test:
        type: boolean
        description: Skip Test Suite
        default: false
      skip_checkstyle:
        type: boolean
        description: Skip check checkstyle
        default: false

env:
  GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GROUP_ID: org.unigrid*
  UPDATE_REPO: unigrid-project/unigrid-update-testing
  JANUS_REPO: unigrid-project/janus-java-testing
  EXCLUDE_CONFIG_FILES_ARG: #--exclude 'config*test.xml'
  INCLUDE_CONFIG_FILES_MATCHER: 'config/target/config*test.xml'
  USERNAME: 'Github Actions'
  EMAIL: 'actions@github.com'

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      tag: ${{ inputs.release_version }}
      version: ${{ env.VERSION }}
      bootstrap_snapshot: ${{ env.BOOTSTRAP_SNAPSHOT }}
      fx_snapshot: ${{ env.FX_SNAPSHOT }}

    steps:
      - name: print release_version
        run: echo ${{ inputs.release_version }}
      - name: print target_module
        run: echo ${{ inputs.target_module }}
      - name: print full tag
        run: echo ${{ inputs.release_version }}_${{ inputs.target_module }}
      - name: print skip_test
        run: echo ${{ inputs.skip_test }}
      - name: print skip_checkstyle
        run: echo ${{ inputs.skip_checkstyle }}

      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6

      - name: Maven version
        run: |
          mvn -v

      - name: Run Test
        run: |
          if [[ ${{ inputs.skip_checkstyle }} == false ]];
          then
            echo 'skip_checkstyle=false'
            xvfb-run -a mvn checkstyle:check
            xvfb-run -a mvn -f config/pom.xml checkstyle:check
          fi
          if [[ ${{ inputs.skip_test }} == false ]];
          then
            echo 'skip_test=false'
            xvfb-run -a mvn test -Dcheckstyle.skip
            xvfb-run -a mvn -f config/pom.xml test -Dcheckstyle.skip
          fi
          xvfb-run -a mvn -f config/pom.xml clean install -Dcheckstyle.skip -Dmaven.test.skip=true

      - name: Set env before removal of snapshot
        run: |
          echo "FX_SNAPSHOT=$(echo $(mvn -f fx/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout))" >> $GITHUB_ENV
          echo "BOOTSTRAP_SNAPSHOT=$(echo $(mvn -f bootstrap/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout))" >> $GITHUB_ENV
          echo FX_SNAPSHOT ${{ env.FX_SNAPSHOT }}
          echo BOOTSTRAP_SNAPSHOT ${{ env.BOOTSTRAP_SNAPSHOT }}

      - name: Remove Snapshots suffix
        run: |
          mvn versions:set -DgenerateBackupPoms=false -DremoveSnapshot=true -DupdateMatchingVersions=false
          mvn -f fx/pom.xml versions:set -DgenerateBackupPoms=false -DremoveSnapshot=true -DupdateMatchingVersions=false
          mvn -f desktop/pom.xml versions:set -DgenerateBackupPoms=false -DremoveSnapshot=true -DupdateMatchingVersions=false
          mvn -f bootstrap/pom.xml versions:set -DgenerateBackupPoms=false -DremoveSnapshot=true -DupdateMatchingVersions=false
        # All childs does not inherit the version from parent, removeSnapshot will not work traversal

      - name: Set env tag, version, artifact id
        run: |
          echo "VERSION=$(echo ${{ inputs.release_version }} | cut --complement -c 1 | cut -d '_' -f1)" >> $GITHUB_ENV
          echo "PARENT_TAG=v$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Bump version
        run: |
          mvn -f ${{ inputs.target_module }}/pom.xml versions:set -DgenerateBackupPoms=false -DnewVersion=${{ env.VERSION }} -DgenerateBackupPoms=false -DupdateMatchingVersions=false
          if [[ ${{ inputs.target_module }} == 'bootstrap' ]];
          then
            mvn -f desktop/pom.xml versions:set -DgenerateBackupPoms=false -DnewVersion=${{ env.VERSION }} -DgenerateBackupPoms=false -DupdateMatchingVersions=false
          fi

      - name: Push pom files to master
        run: |
          git config --global user.name ${{ env.USERNAME }}
          git config --global user.email ${{ env.EMAIL }}
          git add "./*pom.xml"
          git commit -m "Github Actions: Update maven version in pom.xml"
          git push https://${{ secrets.ACTION_PAT }}@github.com/${{ env.JANUS_REPO }} HEAD:master

      - name: Change tag pointing to master latest commit
        run: |
          git fetch
          git fetch -f --tags
          git checkout master
          git tag -a ${{ env.PARENT_TAG }} -m "Tag for release"
          git push origin ${{ env.PARENT_TAG }}
          git tag -a ${{ inputs.release_version }}_${{ inputs.target_module }} -m "Tag for release"
          git push origin ${{ inputs.release_version }}_${{ inputs.target_module }}

      - id: create_release
        name: Release
        run: gh release create ${{ inputs.release_version }}_${{ inputs.target_module }} -d -p -t "${{ inputs.release_version }}_${{ inputs.target_module }}" --generate-notes

  upload-fx:
    if: ${{ inputs.target_module == 'fx' }}
    runs-on: ubuntu-latest
    needs: create-release
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build fx
        run: |
          xvfb-run -a mvn -f config/pom.xml clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          xvfb-run -a mvn clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          gh release upload ${{ inputs.release_version }}_${{ inputs.target_module }} fx/target/fx-${{ needs.create-release.outputs.version }}.jar

      - name: Prepare artifacts
        run: |
          mkdir -p artifacts
          rsync -av ${{ env.EXCLUDE_CONFIG_FILES_ARG }} ${{ env.INCLUDE_CONFIG_FILES_MATCHER }} fx/target/fx*.jar artifacts

      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: artifacts

  upload-installer-linux:
    if: ${{ inputs.target_module == 'bootstrap' }}
    runs-on: ubuntu-latest
    needs: create-release
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6

      - name: Maven version
        run: |
          mvn -v

      - name: Build Installer
        run: |
          xvfb-run -a mvn -f config/pom.xml clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          xvfb-run -a mvn clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          xvfb-run -a mvn -f desktop/pom.xml jpackage:jpackage@installer -Djpackage.version=${{ needs.create-release.outputs.version }} -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          cp desktop/target/dist/unigrid_${{ needs.create-release.outputs.version }}*amd64.deb .
          mv unigrid_${{ needs.create-release.outputs.version }}*amd64.deb unigrid_${{ needs.create-release.outputs.version }}_amd64.deb
          gh release upload ${{ inputs.release_version }}_${{ inputs.target_module }} unigrid_${{ needs.create-release.outputs.version }}_amd64.deb
          sudo apt-get -y install alien
          alien -r unigrid_${{ needs.create-release.outputs.version }}_amd64.deb
          mv unigrid-${{ needs.create-release.outputs.version }}*x86_64.rpm unigrid-${{ needs.create-release.outputs.version }}-x86_64.rpm
          gh release upload ${{ inputs.release_version }}_${{ inputs.target_module }} unigrid-${{ needs.create-release.outputs.version }}-x86_64.rpm

      - run: mkdir -p artifacts

      - run: rsync -av ${{ env.EXCLUDE_CONFIG_FILES_ARG }} ${{ env.INCLUDE_CONFIG_FILES_MATCHER }} artifacts

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: artifacts

  upload-installer-windows:
    if: ${{ inputs.target_module == 'bootstrap' }}
    runs-on: windows-latest
    needs: create-release
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6

      - name: Maven version
        run: |
          mvn -v

      - name: Build Installer
        run: |
          mvn -f config/pom.xml clean install `-Dmaven.test.skip=true `-Dcheckstyle.skip -B -e
          mvn clean install `-Dmaven.test.skip=true `-Dcheckstyle.skip -B -e
          mvn -f desktop/pom.xml jpackage:jpackage@installer `-Djpackage.version=${{ needs.create-release.outputs.version }} `-Dmaven.test.skip=true  `-Dcheckstyle.skip -B -e
          cp desktop/target/dist/Unigrid-${{ needs.create-release.outputs.version }}*.msi .
          mv Unigrid-${{ needs.create-release.outputs.version }}*.msi Unigrid-${{ needs.create-release.outputs.version }}.msi
          gh release upload ${{ inputs.release_version }}_${{ inputs.target_module }} Unigrid-${{ needs.create-release.outputs.version }}.msi

  upload-installer-mac:
    if: ${{ inputs.target_module == 'bootstrap' }}
    runs-on: macos-latest
    needs: create-release
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6

      - name: Maven version
        run: |
          mvn -v

      - name: Build Installer
        run: |
          mvn -f config/pom.xml clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          mvn clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          mvn -f desktop/pom.xml jpackage:jpackage@installer -Djpackage.version=${{ needs.create-release.outputs.version }} -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          cp desktop/target/dist/Unigrid-${{ needs.create-release.outputs.version }}*.dmg .
          mv Unigrid-${{ needs.create-release.outputs.version }}*.dmg Unigrid-${{ needs.create-release.outputs.version }}.dmg
          ls

      - name: Codesign executable
        env:
          MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          KEYCHAIN_NAME: ${{ secrets.KEYCHAIN_NAME }}
          KEYCHAIN_PWD: ${{ secrets.KEYCHAIN_PWD }}
        run: |
          echo $MACOS_CERTIFICATE | base64 -d > certificate.p12
          security create-keychain -p $KEYCHAIN_PWD build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p $KEYCHAIN_PWD build.keychain
          security import certificate.p12 -k build.keychain -P $MACOS_CERTIFICATE_PWD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k $KEYCHAIN_PWD build.keychain
          /usr/bin/codesign --force -s "Developer ID Application: UGD Software AB (XH4NHZYJ98)" ./Unigrid-${{ needs.create-release.outputs.version }}.dmg -v
          codesign -dv --verbose=4 Unigrid-${{ needs.create-release.outputs.version }}.dmg && echo SIGNED!
          codesign -vv -d Unigrid-${{ needs.create-release.outputs.version }}.dmg
          gh release upload ${{ inputs.release_version }}_${{ inputs.target_module }} Unigrid-${{ needs.create-release.outputs.version }}.dmg

  update-repository:
    runs-on: ubuntu-latest
    needs: [create-release, upload-installer-linux, upload-fx]
    if: ${{ always() && contains(needs.*.result, 'success') && !(contains(needs.*.result, 'failure')) }}
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - run: mkdir -p artifacts

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: artifacts
          path: artifacts

      - run: ls artifacts

      - name: Update config files
        run: |
          git clone https://${{ secrets.ACTION_PAT }}@github.com/${{ env.UPDATE_REPO }} unigrid-update
          git -C unigrid-update checkout main
          cp -rf artifacts/* unigrid-update/
          ls unigrid-update
  
      - name: Set env
        run: |
          if [[ $(git -C unigrid-update status --porcelain) ]];
          then
            echo "There are untracked files"
            echo "GITDIFF=true" >> $GITHUB_ENV
          else
            echo "No untracked files found"
            echo "GITDIFF=false" >> $GITHUB_ENV
          fi

      - name: Commit config files
        if: ${{ env.GITDIFF == 'true' }}
        run: |
          git -C unigrid-update config --global user.name ${{ env.USERNAME }}
          git -C unigrid-update config --global user.email ${{ env.EMAIL }}
          git -C unigrid-update add .
          git -C unigrid-update commit -m "Github Actions: Add files for release"
          git -C unigrid-update push origin main

  bump-version:
    runs-on: ubuntu-latest
    needs: [create-release, upload-installer-linux, upload-installer-windows, upload-installer-mac, upload-fx]
    if: ${{ always() && contains(needs.*.result, 'success') && !(contains(needs.*.result, 'failure')) }}
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - run: git fetch -f --tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Bump version
        run: |
          xvfb-run -a mvn -f config/pom.xml clean install -Dmaven.test.skip=true -Dcheckstyle.skip -B -e
          mvn versions:set -DnextSnapshot=true -DgenerateBackupPoms=false -DprocessDependencies=false -DupdateMatchingVersions=false
          mvn -f ${{ inputs.target_module }}/pom.xml versions:set -DnextSnapshot=true -DgenerateBackupPoms=false -DupdateMatchingVersions=false

      - name: Set Snapshot
        run: |
          if [[ ${{ inputs.target_module }} == 'bootstrap' ]];
          then
            echo Release Bootstrap
            mvn -f desktop/pom.xml versions:set -DnextSnapshot=true -DgenerateBackupPoms=false -DupdateMatchingVersions=false
            mvn -f fx/pom.xml versions:set -DnewVersion=${{ needs.create-release.outputs.fx_snapshot }} -DgenerateBackupPoms=false -DupdateMatchingVersions=false
          elif [[ ${{ inputs.target_module }} == 'fx' ]];
          then
            echo Release Fx
            mvn -f bootstrap/pom.xml versions:set -DnewVersion=${{ needs.create-release.outputs.bootstrap_snapshot }} -DgenerateBackupPoms=false -DupdateMatchingVersions=false
            mvn -f desktop/pom.xml versions:set -DnewVersion=${{ needs.create-release.outputs.bootstrap_snapshot }} -DgenerateBackupPoms=false -DupdateMatchingVersions=false
          fi

      - name: Commit versions without snapshot
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email 'actions@github.com'
          git add "./*pom.xml"
          git commit -m "Github Actions: Bump version"
          git push